* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Roboto",
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
  color: #000;
}

ul {
  list-style: none;
}

/* Navigation styles */
.nav,
.links {
  display: flex;
}

.nav {
  width: 100%;
  padding: 1.2rem 15rem;
  background: #1f2937;
  justify-content: space-between;
  align-items: center;
}

.nav-text {
  color: #f9faf8;
  font-size: 2rem;
}

.links {
  gap: 24px;
  font-size: 18px;

  li > a {
    color: #e5e7eb;
  }
}

/* Header styles */

.header {
  height: 500px;
  display: flex;
  padding: 3rem 15rem;
  align-items: center;
  background: #1f2937;
  width: 100%;

  .left {
    flex: 1;

    .header-title {
      color: #f9faf8;
      font-weight: 900;
      font-size: 3rem;
    }

    .header-subt {
      color: #e5e7e3;
      font-size: 18px;
      width: 95%;
    }

    .header-button {
      background: #3882f6;
      width: 130px;
      padding: 10px;
      margin-top: 10px;
      border-radius: 10px;
      border: none;
      color: #ffffff;
      font-weight: bold;
    }
  }

  .right {
    flex: 1;
    margin-left: auto;

    img {
      width: 100%;
    }
  }
}

/* Information section styles */

.information {
  padding: 0rem 15rem;
  display: flex;
  flex-direction: column;
  align-items: center;

  .info-title {
    color: #1f2937;
    font-weight: 900;
    font-size: 36px;
    margin: 3rem 0;
  }

  .cards {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    margin-bottom: 3rem;

    .card {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 250px;

      .box {
        width: 200px;
        height: 200px;

        border-radius: 10px;
        border: 5px solid #3b82f6;
      }

      span {
        margin-top: 10px;
        width: 200px;
        text-align: center;
      }
    }
  }
}

/* Quote section styles */

.quote-container {
  padding: 0 25rem;
  background-color: #e5e7eb;
  display: flex;
  flex-direction: column;

  .quote-text {
    font-family: Arial;
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
    margin-top: 4rem;
  }

  .author {
    font-size: 18px;
    font-weight: 800;
    margin-bottom: 4rem;
    align-self: end;
  }
}

/* CTA section styles */

.cta-section {
  padding: 0 25rem;
  background: #fff;
  /* width: 65.5rem; */

  .container {
    background-color: #3882f6;
    padding: 2.5rem 8rem;
    margin: 4rem 0;
    border-radius: 10px;
    display: flex;
    align-items: center;
    gap: 3.5rem;
    color: #fff;

    .left {
      flex: 2;
    }

    .right {
      flex: 1;

      button {
        width: 150px;

        padding: 10px 15px;
        color: #fff;
        border: 2px solid #fff;
        border-radius: 10px;
        background: #3882f6;
      }
    }
  }
}

/* Footer section styles */

.footer {
  padding: 3rem 15rem;
  background-color: #1f2937;
  color: #fff;
  text-align: center;
}
